<header class="header">
    <div class="header__logo__wrapper">
        <img class="header__logo" src="/img/menu-logo.png" alt="">
        <h2 class="header__title">Talk Time</h2>
    </div>
    <div class="header__menu">
        <a href="/" class="header__menu__item">Main</a>
        <a href="/dashboard/{{url}}/{{date}}" class="header__menu__item">Dashboard</a>
        <a href="/feedbacks/{{url}}/{{date}}" class="header__menu__item">Feedbacks</a>
        <a href="/users/{{url}}/{{date}}" class="header__menu__item">Users</a>
        <a href="/information/{{url}}/{{date}}" class="header__menu__item">Information</a>
    </div>
</header>