<div class="menu">
    <h1 class="menu__title"><a href="/">Talk Time</a></h1>
    <div class="menu__items">
        <div>
            <img class="menu__icon" src="/img/main.png" alt="">
            <a href="/" class="menu__item">Main</a>
        </div>
        <div>
            <img class="menu__icon" src="/img/dashboard-menu.png" alt="">
            <a href="/dashboard/{{url}}/{{date}}?q={{generalName}}" class="menu__item">Dashboard</a>
        </div>
        <div>
            <img class="menu__icon" src="/img/users.png" alt="">
            <a href="/users/{{url}}/{{date}}?q={{generalName}}" class="menu__item">Users</a>
        </div>
        <div>
            <img class="menu__icon" src="/img/hall-of-fame.png" alt="">
            <a href="/hall-of-fame/{{url}}/{{date}}?q={{generalName}}" class="menu__item">Hall of Fame</a>
        </div>
        <div>
            <img class="menu__icon" src="/img/faq.png" alt="">
            <a href="/faq" class="menu__item">FAQ</a>
        </div>
    </div>
</div>