<div class="dashboard__container">
    {{>header}}
    <div class="dashboard__content">
        <div class="dashboard__content__wrapper">
            <div class="dashboard__card dashboard__users animated fadeInRight">
                <h1 class="meeting__participants__title">Meeting participants and statistics</h1>
                <div class="meeting__participants">
                    {{#each feedbacksByName}}
                    <div class="meeting__participant">
                        <img class="participant__avatar" src={{avatar}} alt="avatar">
                        <div class="meeting__participant__info__wrapper">
                            <span class="participant__name">{{name}}</span>
                            <div class="statistics__percents__wrapper">
                                <div class="statistics__ratio"></div>
                                <span class="statistics__percents"> {{percents}}&nbsp;&nbsp;</span>
                                <span class="participant__rating">★ {{average rating}}</span>
                            </div>
                        </div>
                        {{#if peaks}}
                        <div class="audio__activity">
                            <div class="peaks__wrapper">
                                {{#each peaks}}
                                    <div class="peak" style="height: {{mult this 4}}px"></div>
                                {{/each}}
                            </div>
                        </div>
                        {{else}}
                        <span>No audio data</span>
                        {{/if}}
                    </div>
                    
                    {{/each}}
                </div>
            </div>
        </div>
        <div class="dashboard__content__wrapper dashboard__content__wrapper__left">
            <div class="dashboard__card dashboard__conclusions animated fadeInLeft">
                <h1 class="conclusions__title">Meeting Notes</h1>
                <div class="conclusion__input__wrapper">
                    <input placeholder="Enter a note" class="conclusion__input" type="text" name="meeting-conclusions">
                    <div class="tags__select__wrapper">
                        <div class="tag__input__wrapper">
                            <div class="tag__input__container">
                                <input type="text" class="tags__input" placeholder="Enter a tag(s)">
                                <div class="plus__tag">+</div>
                            </div>
                        </div>
                        <div class="tags__list">
                        </div>
                    </div>
                    <button disabled class="add__note">Add Note</button>
                </div>
                <div class="conclusions">
                    {{#if conclusions}}
                    {{#each conclusions}}
                    <div class="conclusion__wrapper">
                        {{#each tags}}
                        <span class="conclusion__tag">{{this}}</span>
                        {{/each}}
                        <span class="conclusion">- {{text}}</span>
                        {{#if important}}
                        <span class="conclusion__star">★</span>
                        {{else}}
                        <span class="conclusion__star">☆</span>
                        {{/if}}
                        <span class="conclusion__id">{{_id}}</span>
                        <img class="conclusion__delete" src="/img/trash.png" alt="">
                    </div>
                    {{/each}}
                    {{else}}
                    <span class="empty__conclusions__warning">There are no notes, add a new one!</span>
                    {{/if}}
                    <span class="empty__conclusions__warning" style="display: none;">No conclusions ...Add a new
                        one!</span>
                </div>
            </div>
        </div>
    </div>
    <footer class="dashboard__footer">
        <div class="info__card animated fadeInLeft">Meet link: {{url}}</div>
        <div class="info__card animated fadeInLeft">Meet date: {{date}}</div>
        <div class="info__card animated fadeInLeft">Number of users: {{usersLength}}</div>
        <div class="info__card animated fadeInLeft">Number of feedbacks: {{feedbacksLength}}</div>
        <div class="info__card animated fadeInLeft">Number of notes: {{conclusionsLength}}</div>
    </footer>
</div>

<script src="/js/dashboard.js"></script>