<div class="dashboard__container">
    {{>menu}}
    <div class="dashboard">
        {{>navigate}}
        <div class="dashboard__content">
            <input type="text" placeholder="Search meeting participants" class="dashboard__search" />
            <div class="dashboard__meeting__info__wrapper">
                <div class="dashboard__meeting__info">
                    <div class="dashboard__meeting__info__icon dashboard__meeting__info__icon__blue">
                        <img src="/img/link.png" alt="">
                    </div>
                    <div>
                        <span>{{url}}</span>
                        <span>Meeting link</span>
                    </div>
                </div>
                <div class="dashboard__meeting__info">
                    <div class="dashboard__meeting__info__icon dashboard__meeting__info__icon__orange">
                        <img src="/img/date.png" alt="">
                    </div>
                    <div>
                        <span>{{date}}</span>
                        <span>Meeting date</span>
                    </div>
                </div>
                <div class="dashboard__meeting__info">
                    <div class="dashboard__meeting__info__icon dashboard__meeting__info__icon__green">
                        <img src="/img/users.png" alt="">
                    </div>
                    <div>
                        <span>{{usersLength}} user(s)</span>
                        <span>Number of users</span>
                    </div>
                </div>
                <div class="dashboard__meeting__info">
                    <div class="dashboard__meeting__info__icon dashboard__meeting__info__icon__pink">
                        <img src="/img/dashboard-feedback.png" alt="">
                    </div>
                    <div>
                        <span>{{feedbacksLength}} feedback(s)</span>
                        <span>Number of feedbacks</span>
                    </div>
                </div>
            </div>
            <div class="dashboard__users__notes">
                <div class="dashboard__users">
                    <div class="dashboard__users__names">
                        <div style="width: 200px; padding-left: 10px;">Participants</div>
                        <div style="width: 120px">Talking time</div>
                        <div style="width: 120px">Average rating</div>
                        <div style="width: 120px">Feedbacks</div>
                    </div>
                    {{#each feedbacksByName}}
                    <div class="dashboard__user" data-name="{{name}}">
                        <div class="user__info">
                            <img class="user__avatar" src="{{avatar}}">
                            <span class="username">{{name}}</span>
                        </div>
                        <div class="user__percents">
                            {{#if percents}}
                            <span>{{percents}}</span>
                            {{else}}
                            <span>0%</span>
                            {{/if}}
                        </div>
                        <div class="user__rating">
                            <span>{{average rating}}</span>
                        </div>
                       <a href="/feedbacks/{{../url}}/{{name}}/{{../date}}?q={{../generalName}}">
                         <button class="view__feedbacks__button">View feedbacks</button>
                       </a>
                    </div>
                    {{/each}}
                </div>
                <div class="dashboard__notes">
                    <div class="notes__input__wrapper">
                        <input placeholder="Add new note" class="notes__input" type="text">
                        <button class="add__note">Add Note</button>
                    </div>
                    <div class="tags__input__wrapper">
                        <input class="tags__input" type="text" placeholder="Add new tag">
                        <div class="open__tags">
                            <div class="tags">
                                <div class="tag" data-tag="statictag">
                                    <span>No tags here...</span>
                                </div>
                            </div>
                            <img class="view__tags" data-open="false" src="/img/tag.png" alt="">
                        </div>
                        <button class="add__tag">Add tag</button>
                    </div>
                    <div class="notes">
                        {{#each notes}}
                        <div class="note">
                            <span class="note__text">{{text}}</span>
                            <div class="note__options">
                                <span style="display: none;" class="note__id">{{_id}}</span>
                                <img class="delete__note" src="/img/trash.png" alt="">
                                {{#if tags}}
                                <img class="open__tags__note" data-tagsactive="" src="/img/tag.png" alt="">
                                <div class="notes__tags">
                                    {{#each tags}}
                                        <span class="notes__tag">{{this}}</span>
                                    {{/each}}
                                </div>
                                {{/if}}
                            </div>
                        </div>
                        {{/each}}
                        <span class="no__notes">You`ve not added notes yet...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/dashboard.js"></script>
<script src="/js/helpers/search.js"></script>
