<div class="dashboard__container">
    {{#if users}}
    {{>header}}
    <div class="dashboard__content">
        <div class="dashboard__content__wrapper">
            <div class="dashboard__card dashboard__users animated fadeInRight">
                <h1 class="meeting__participants__title">Meeting participants and statistics</h1>
                <div class="meeting__participants">
                    {{#each feedbacksByName}}
                    <div class="meeting__participant">
                        <img class="participant__avatar" src={{avatar}} alt="avatar">
                        <div class="meeting__participant__info__wrapper">
                            <span class="participant__name">{{name}}</span>
                            <div class="statistics__percents__wrapper">
                                <div class="statistics__ratio"></div>
                                <span class="statistics__percents"> {{percents}}&nbsp;&nbsp;</span>
                                <span class="participant__rating">★ {{average rating}}</span>
                            </div>
                        </div>
                        <div class="peaks__wrapper">
                            {{#each peaks}}
                            <div class="peak" style="height: {{this}}px;"></div>
                            {{/each}}
                            <span class="user__activity__nodata">No data</span>
                        </div>
                    </div>


                    {{/each}}
                </div>
            </div>
        </div>
        <div class="dashboard__content__wrapper dashboard__content__wrapper__left">
            <div class="dashboard__card dashboard__conclusions animated fadeInLeft">
                <h1 class="conclusions__title">Meeting Conclusions</h1>
                <div class="conclusion__input__wrapper">
                    <input placeholder="Enter a meeting conclusion" class="conclusion__input" type="text"
                        name="meeting-conclusions">
                    <div class="tags__select__wrapper">

                        <div class="tags__select">
                            <span class="tags__select__text">Select tag(s)</span>
                            <span class="tags__select__arrow">▼</span>
                            <span class="tags__select__close">✕</span>
                        </div>
                        <div class="tags__list">
                            <div class="tag__element">
                                <span class="tag__name">Question</span>
                                <span class="is__checked"></span>
                            </div>
                            <div class="tag__element">
                                <span class="tag__name">Problem</span>
                                <span class="is__checked"></span>
                            </div>
                            <div class="tag__element">
                                <span class="tag__name">Task</span>
                                <span class="is__checked"></span>
                            </div>
                        </div>
                    </div>
                    <button class="add__conclusion">Add</button>
                </div>
                <div class="conclusions">
                    {{#if conclusions}}
                    {{#each conclusions}}
                    <div class="conclusion__wrapper">
                        {{#each tags}}
                        <span class="conclusion__tag">{{this.tag}}</span>
                        {{/each}}
                        <span class="conclusion">- {{text}}</span>
                        {{#if important}}
                        <span class="conclusion__star">★</span>
                        {{else}}
                        <span class="conclusion__star">☆</span>
                        {{/if}}
                        <span class="conclusion__id">{{_id}}</span>
                        <img class="conclusion__delete" src="/img/trash.png" alt="">
                    </div>
                    {{#if importanceCount}}
                    <span class="conclusion__importance__count">{{importanceCount}} people marked as important</span>
                    {{else}}
                    {{/if}}
                    {{/each}}
                    {{else}}
                    <span class="empty__conclusions__warning">No conclusions ...Add a new one!</span>
                    {{/if}}
                    <span class="empty__conclusions__warning" style="display: none;">No conclusions ...Add a new
                        one!</span>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <h1 class="invalid__url">Invalid Meeting url, make sure that your meeting url is valid</h1>
    {{/if}}
    <footer class="dashboard__footer">
        <div class="info__cards">Number of feedbacks: {{feedbacksLength}}</div>
        <div class="info__cards">Number of users: {{usersLength}}</div>
        <div class="info__cards">Number of conclusions: {{conclusionsLength}}</div>
        <div class="info__cards">Meet link: {{url}}</div>
    </footer>
</div>

<script src="/js/dashboard.js"></script>