<div class="feedbacks__container">
    {{#if users}}
    {{>header}}
    <div class="feedbacks__content">
        <div class="feedbacks__search__wrapper">
            <input class="feedbacks__search animated fadeInLeft" type="text" placeholder="🔎︎ Seach participants">
            <div class="feedbacks__refresh">
                <img class="refresh__icon" src="/img/refresh.png" alt="">
            </div>
        </div>
        {{#each users}}
        <div class="feedbacks__users">
            <div class="feedbacks__user animated fadeInRight" data-name="{{name}}">
                <div class="feedbacks__user__info">
                    <img class="feedbacks__user__avatar" src="{{avatar}}" alt="">
                    <span class="feedbacks__user__name">{{name}}</span>
                </div>
                <div class="feedbacks__user__buttons">
                    <a href="/feedbacks/{{../generalName}}/{{../url}}/{{name}}/{{../date}}"><button class="feedbacks__user__button feedbacks__see__feedbacks">Feedbacks</button></a>
                    <a href="/feedbacks/create/{{../generalName}}/{{url}}/{{name}}/{{date}}"><button class="feedbacks__user__button feedbacks__leave__feedback">Leave feedback</button></a>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <h1 class="invalid__url">Invalid Meeting url, make sure that your meeting url is valid</h1>
        {{/if}}
    </div>
</div>

<script src="/js/feedback.js"></script>
<script src="/js/helpers/search.js"></script>