<div class="hall-of-fame__container">
    {{>menu}}
    <div class="hall-of-fame__wrapper">
        {{>navigate}}
        <div class="hall-of-fame">
            <div class="hall-of-fame__users__wrapper">
                {{#each usersWithTheMostBadges}}
                    <div class="hall-of-fame__user">
                        <div class="hall-of-fame__badge__title">{{formatBadgeName badge}}</div>
                        <div class="hall-of-fame__badge__image__wrapper">
                            <img class="hall-of-fame__badge__image" src="/img/{{badgeToImage badge}}" alt="">
                        </div>
                        <div class="hall-of-fame__user__info__wrapper">
                            <div class="hall-of-fame__user__info">
                                <img src="{{avatar}}" class="hall-of-fame__user__avatar" alt="" />
                                <span class="hall-of-fame__username">{{name}}</span>
                            </div>
                            <span class="hall-of-fame__user__results">
                                Collected {{count}} {{formatBadgeName badge}} badges
                            </span>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>