<div class="main__wrapper">
    <h1 class="main__title">Analyse, discover and <b>develop</b><br /> </h1>
    <span class="main__subtitle">Make your meetings more convinient and get as much beneifits as you can <br>All
        information you need about your meetings is here</span>
    <button class="main__button">Explore</button>
</div>
<div class="meetings">
    <h1 class="meetings__title">Select your meeting <b>here</b></h1>
    <div class="generals__wrapper">
        <input class="search__generals" placeholder="Name of your meeting" type="text">
        <div class="list__of__meetings">
            {{#each generals}}
            <div class="general" data-name="{{name}}">
                <span class="general__name">{{name}}</span>
                <hr>
                <button class="select__general" data-active="">
                    <img src="/img/down-arrow.png" alt="">
                </button>
            </div>
            <div class="meetings__content">
                {{#each meetings}}
                <div class="meeting">
                    <div class="meeting__info">
                        <span>{{url}}</span>
                        <span class="main__meeting__date">{{date}}</span>
                    </div>
                    <a href="/dashboard/{{url}}/{{date}}?q={{../name}}"><button class="dashboard__button">Dashboard</button></a>
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </div>
</div>
<div class="modal__shadow"></div>
<script src="/js/main.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/helpers/search.js"></script>