<div class="send__feedback__wrapper">
    {{#if currentUser}}
    {{>menu}}
    <div class="form__wrapper">
        {{>navigate}}
        <div class="form__content">
            <form action="/feedbacks/create/{{generalName}}/{{url}}/{{name}}/{{date}}" method="POST"
                enctype="multipart/form-data">
                <label for="">Your feedback</label>
                <textarea class="send__feedback__text" name="feedback" placeholder="Enter feedback here"></textarea>
                <label for="">Choose rating</label>
                <input required class="send__feedback__rating" name="rating" placeholder="Enter rating here" type="number"
                    min="0" max="5">
                <label for="">Your image</label>
                <input class="send__feedback__file" name="file" type="file">
                <label for="">Choose Badge</label>
                <select name="badge" id="select" class="send__feedback__badges">
                    <option hidden selected>Choose the Badge (not necessarily)</option>
                    <option value="Active Listener">Active Listener</option>
                    <option value="Areas of Agreement">Areas of Agreement</option>
                    <option value="Ask for feedback">Ask for feedback</option>
                    <option value="Bee Brief">Bee Brief</option>
                    <option value="Brainstormer">Brainstormer</option>
                    <option value="Check for Understanding">Check for Understanding</option>
                    <option value="Clarifing Question">Clarifing Question</option>
                    <option value="Decide">Decide</option>
                    <option value="Define the Problem">Define the Problem</option>
                    <option value="Disagreement Solver">Disagreement Solver</option>
                    <option value="Encourageing Knowlege">Encourageing Knowlege</option>
                    <option value="Give Feedback">Give Feedback</option>
                    <option value="Helper">Helper</option>
                    <option value="Ideas Evaluation">Ideas Evaluation</option>
                    <option value="Info Shareer">Info Shareer</option>
                    <option value="Mic Earned">Mic Earned</option>
                    <option value="Muting Maestro">Muting Maestro</option>
                    <option value="Norms Meeting">Norms Meeting</option>
                    <option value="Notes Master">Notes Master</option>
                    <option value="Online Tools">Online Tools</option>
                    <option value="Problem Pauser">Problem Pauser</option>
                    <option value="Questions">Questions</option>
                    <option value="Ready Headset Go">Ready Headset Go</option>
                    <option value="Resource vs Impact">Resource vs Impact</option>
                    <option value="Screenshare">Screenshare</option>
                    <option value="Stay on Topic">Stay on Topic</option>
                    <option value="Teacher">Teacher</option>
                    <option value="Time Earning">Time Earning</option>
                    <option value="To Do Tracker">To Do Tracker</option>
                    <option value="Zen Enviroment">Zen Enviroment</option>
                </select>
                <button class="send__feedback__submit">Send</button>
            </form>
        </div>
    </div>
    {{else}}
    <h1 class="invalid__url">Invalid Meeting url or username, make sure that your link is valid</h1>
    {{/if}}
</div>