<div class="send__feedback__wrapper">
    {{#if currentUser}}
    {{>menu}}
    <div class="form__wrapper">
        {{>navigate}}
        <div class="form__content">
            <form action="/feedbacks/create/{{generalName}}/{{url}}/{{receiver}}/{{date}}" method="POST"
                enctype="multipart/form-data">
                <label for="">Your feedback</label>
                <textarea class="send__feedback__text" name="feedback" placeholder="Enter feedback here"></textarea>
                <label for="">Choose rating</label>
                <input required class="send__feedback__rating" name="rating" placeholder="Enter rating here" type="number"
                    min="0" max="5">
                <label for="">Your image</label>
                <input class="send__feedback__file" name="file" type="file">
                <label for="">Choose Badge</label>
                <select name="badge" id="select" class="send__feedback__badges">
                    <option hidden selected>Choose the Badge (not necessarily)</option>
                    <option value="Be Present">Be Present</option>
                    <option value="Bee Brief">Bee Brief</option>
                    <option value="Fun">Fun</option>
                    <option value="Encourage">Encourage</option>
                    <option value="On Time">On Time</option>
                    <option value="Help">Help</option>
                    <option value="Zen Enviroment">Zen Enviroment</option>
                </select>
                <button class="send__feedback__submit">Send</button>
            </form>
        </div>
    </div>
    {{else}}
    <h1 class="invalid__url">Invalid Meeting url or username, make sure that your link is valid</h1>
    {{/if}}
</div>