<div class="personal__feedbacks">
    {{#if currentUser}}
    {{>menu}}
    <div class="personal__feedbacks__content">
        {{>navigate}}
        <div class="personal__feedback__wrapper">
            {{#if feedbacks}}
            <div class="personal__feedbacks__filters__wrapper">
                <img class="personal__feedbacks__filter__icon" src="/img/filter.png" alt="">
                <button data-active="" class="personal__feedbacks__image__filter">With Image</button>
                <button data-active="" class="personal__feedbacks__high__filter">High Rating</button>
                <button data-active="" class="personal__feedbacks__low__filter">Low Rating</button>
                <button data-active="" class="personal__feedbacks__date__filter">Date range</button>
                <div class="date__range__wrapper">
                    <div class="date__range">
                        <input required lang="en-GB" data-date-format="dd-mm-yyyy" class="date__input" id="start__date"
                            type="date">
                        <input required lang="en-GB" data-date-format="dd-mm-yyyy" class="date__input" id="end__date"
                            type="date">
                        <button class="apply__date__filter">Apply date</button>
                    </div>
                </div>
                <a href="/feedbacks/create/{{generalName}}/{{url}}/{{name}}/{{date}}"><button
                        class="leave__feedback__button">Leave feedback</button></a>
            </div>
            <div class="empty__feedbacks">
                <img class="empty__feedbacks__img" src="/img/empty.png" alt="">
                <span class="empty__title">There is nothing here...</span>
            </div>
            <div class="personal__feedbacks__list">
                {{#each feedbacks}}
                {{#if feedbackImg}}
                <div data-rating="{{rating}}" data-image="true" data-date="{{formatDate postDate}}"
                    class="personal__feedback">
                    {{else}}
                    <div data-rating="{{rating}}" data-date="{{formatDate postDate}}" class="personal__feedback">
                        {{/if}}
                        <div class="personal__feedback__top">
                            <div class="personal__feedback__user">
                                <img class="personal__feedback__avatar" src="{{senderImg}}">
                                <div>
                                    <span class="personal__feedback__sender">{{sender}}</span><br />
                                    <span class="personal__feedback__date">{{formatDate postDate}}</span>
                                </div>
                            </div>
                            <div class="personal__feedbacks__buttons">
                                {{#if (moreThan feedback 40)}}
                                <button class="personal__feedback__read__more">
                                    <img src="/img/read-more.png" alt="" class="feedback__image">
                                </button>
                                <button class="personal__feedback__read__less">
                                    <img src="/img/read-less.png" class="feedback__image" alt="">
                                </button>
                                {{/if}}
                                {{#if feedbackImg}}
                                <button class="personal__feedback__view__image">
                                    <img src="/img/image.png" alt="" class="feedback__image">
                                </button>
                                {{/if}}
                            </div>
                        </div>
                        <span class="personal__feedback__text">{{feedback}}</span>
                        <div class="personal__feedback__buttons">
                            <div class="rating__wrapper">
                                <span class="rating">☆</span>
                                <span class="rating">☆</span>
                                <span class="rating">☆</span>
                                <span class="rating">☆</span>
                                <span class="rating">☆</span>
                            </div>
                        </div>
                    </div>
                    {{#if feedbackImg}}
                    <div class="personal__feedback__img__wrapper">
                        <img class="personal__feedback__img" src="/{{feedbackImg}}" alt="">
                        <button class="personal__feedback__close__img">Close</button>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
                {{else}}
                <div class="no__feedbacks">
                    <img class="empty__feedbacks__img" src="/img/empty.png" alt="">
                    <span class="empty__title">There is no feedbacks...</span>
                </div>
                {{/if}}
            </div>
            {{else}}
            <h1 class="invalid__url">Invalid Meeting url or username, make sure that your link is valid</h1>
            {{/if}}
        </div>
    </div>
    <div class="modal__shadow"></div>
    <script src="/js/personal-feedbacks.js"></script>