<div class="profile__container">
    <header class="header animated fadeInRight">
        <a href="/main">
            <div class="header__logo__wrapper">
                <img class="header__logo" src="/img/menu-logo.png" alt="">
                <h2 class="header__title">Talk Time</h2>
            </div>
        </a>
    </header>
    <div class="profile__wrapper">
        <div class="profile">
            <div class="profile__top">
                <div class="profile__user">
                    <img src="{{avatar}}" alt="" class="profile__avatar">
                    <div class="profile__top__info">
                        <span class="profile__name">{{name}}</span>
                        <span class="profile__rating">{{avgRating}}</span>
                        <div class="profile__rating__wrapper">
                            <span>Average feedback rating: &nbsp;</span>
                            <div class="profile__stars">
                                <span class="profile__star"></span>
                                <span class="profile__star"></span>
                                <span class="profile__star"></span>
                                <span class="profile__star"></span>
                                <span class="profile__star"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profile__meetings__counter">Participated in {{meetingsCounter}} meetings</div>
            </div>
            <div class="profile__content">
                <div class="profile__menu">
                    <div class="profile__menu__item">
                        <img class="profile__menu__img" src="/img/meeting-profile.png" alt="">
                        <span class="profile__menu__text">Meetings</span>
                    </div>
                    <div class="profile__menu__item">
                        <img class="profile__menu__img" src="/img/feedback-profile.png" alt="">
                        <span class="profile__menu__text">Feedbacks received</span>
                    </div>
                    <div class="profile__menu__item">
                        <img class="profile__menu__img" src="/img/feedback-sent.png" alt="">
                        <span class="profile__menu__text">Feedbacks sent</span>
                    </div>
                    <div class="profile__menu__item">
                        <img class="profile__menu__img" src="/img/badge-profile.png" alt="">
                        <span class="profile__menu__text">Badges</span>
                    </div>
                </div>
                <div class="profile__tabs">
                    <div class="profile__tab meeting__tab" data-tabname="Meetings">
                        {{#if meetings}}
                        {{#each meetings}}
                        <div class="profile__meeting">
                            <div class="profile__meeting__info">
                                <span class="profile__meeting__url">{{url}}</span>
                                <span class="profile__meeting__date">{{date}}</span>
                            </div>
                            <a href="/dashboard/{{url}}/{{date}}"><button
                                    class="profile__meeting__link">Dashboard</button></a>
                        </div>
                        {{/each}}
                        {{else}}
                        <div class="profile__empty">
                            <img class="empty__img" src="/img/empty.png" alt="">
                            <span class="empty__message">There are no meetings yet...</span>
                        </div>
                        {{/if}}
                    </div>
                    <div class="profile__tab" data-tabname="Feedbacks received">
                        {{#if feedbacksReceived}}
                        {{#each feedbacksReceived}}
                        <div class="profile__feedback">
                            <div class="profile__feedback__sender">
                                <img class="profile__feedback__sender__img" src="{{senderImg}}" alt="">
                                <span class="profile__feedback__sender__name">{{sender}}</span>
                            </div>
                            <div class="profile__feedback__feedback">{{feedback}}</div>
                            <a href="/feedbacks/{{url}}/{{../name}}/{{date}}"
                                class="profile__feedback__view__received__feedback">View Feedback</a>
                        </div>
                        {{/each}}
                        {{else}}
                        <div class="profile__empty">
                            <img class="empty__img" src="/img/empty.png" alt="">
                            <span class="empty__message">There are no feedbacks yet...</span>
                        </div>
                        {{/if}}
                    </div>
                    <div class="profile__tab" data-tabname="Feedbacks sent">
                        {{#if feedbacksSent}}
                        {{#each feedbacksSent}}
                        <div class="profile__feedback">
                            <div class="profile__feedback__sender">
                                <img class="profile__feedback__sender__img" src="{{senderImg}}" alt="">
                                <span class="profile__feedback__sender__name">{{sender}}</span>
                            </div>
                            <div class="profile__feedback__feedback">{{feedback}}</div>
                            <a href="/feedbacks/{{url}}/{{receiver}}/{{date}}"
                                class="profile__feedback__view__sent__feedback">View Feedback</a>
                        </div>
                        {{/each}}
                        {{else}}
                        <div class="profile__empty">
                            <img class="empty__img" src="/img/empty.png" alt="">
                            <span class="empty__message">There are no feedbacks yet...</span>
                        </div>
                        {{/if}}
                    </div>
                    <div class="profile__tab" data-tabname="Badges">
                        <div class="profile__badges">
                            {{#if usersBadges}}
                            {{#each usersBadges}}
                            {{#each this}}
                            <div class="profile__badge" data-level="{{this}}">
                                <img class="profile__badge__img" src="/img/{{@key}}" alt="">
                                <div class="profile__badge__info">
                                    <span class="profile__badge__name">{{convert @key}}</span>
                                    <span>{{badgesLevel this}}</span>
                                </div>
                            </div>
                            {{/each}}
                            {{/each}}
                            {{else}}
                            <div class="profile__empty">
                                <img class="empty__img" src="/img/empty.png" alt="">
                                <span class="empty__message">There are no badges yet...</span>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/profile.js"></script>