<div class="recording__container">
    {{>menu}}
    <div class="recording__wrapper">
        {{>navigate}}
        <div class="recording__content">
            {{#if noRecording}}
            <div class="no__recording">
                <img class="empty__recording__img" src="/img/empty.png" alt="">
                <span class="empty__title">There is no recording of this meeting...</span>
            </div>
            {{else}}
            <h1 class="recording__title">{{generalName}} / {{date}}</h1>
            <div class="recording__meeting">
                <iframe src="https://drive.google.com/file/d/{{readyId}}/preview"></iframe>
                <div class="recording__chat">
                    <div class="chat__title">
                        <span>CHAT</span>
                    </div>
                    <div class="meeting__chat"></div>
                </div>
                <span class="non__formatted__chat hidden">{{chat}}</span>
            </div>
            {{/if}}
        </div>
    </div>
</div>
<script src="/js/recording.js"></script>